.imaged-container {
    opacity: 0.9;
    z-index: -1;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.file-handler label[for=file] {}

.file-handler input[type=file] {
    display: none;
}